{% extends 'layout.html' %}

{% block content %}

    <div class="max-w-7xl min-h-[60vh] mx-auto px-4 py-6">
        <h1 class="text-2xl font-bold mb-6">My Orders</h1>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 shadow rounded-lg">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 text-left text-gray-700 font-semibold">Order ID</th>
                        <th class="px-4 py-2 text-left text-gray-700 font-semibold">Date</th>
                        <th class="px-4 py-2 text-left text-gray-700 font-semibold">Total Price</th>
                        <th class="px-4 py-2 text-left text-gray-700 font-semibold">Status</th>
                        <th class="px-4 py-2 text-left text-gray-700 font-semibold">Payment Method</th>
                        <th class="px-4 py-2 text-left text-gray-700 font-semibold">Items Ordered</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="border-t">
                        <td class="px-4 py-2">{{order.id}}</td>
                        <td class="px-4 py-2">{{order.created_date}}</td>
                        <td class="px-4 py-2">{{order.total_price}}</td>
                        <td class="px-4 py-2">
                            {% if order.payment_status == 'Pending' %}
                            <span class="text-red-600 font-medium">
                            {{order.payment_status}}</span>
                            {% elif order.payment_status == 'completed' %}
                            <span class="text-green-600 font-medium">
                            {{order.payment_status}}</span>
                            {% endif %}
                        </td>
                        <td class="px-4 py-2">{{order.payment_method}}</td>
                        <td class="px-4 py-2">
                            {% for item in order.items.all %}
                                <span class="block"> {{item.product.product_name}} X {{item.product.quantity}}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock%}