{% extends 'layout.html' %}



{% block content %}

<form id="esewaForm" action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
    <input type="hidden" name="amount" value="{{ order.total_price }}">
    <input type="hidden" name="tax_amount" value="{{ tax_amount }}">
    <input type="hidden" name="total_amount" value="{{ total_amount }}">
    <input type="hidden" name="transaction_uuid" value="{{ transaction_uuid }}">
    <input type="hidden" name="product_code" value="EPAYTEST">
    <input type="hidden" name="product_service_charge" value="0">
    <input type="hidden" name="product_delivery_charge" value="0">
    <input type="hidden" name="success_url" value="http://127.0.0.1:8000/esewa/success/{{order.id}}/">
    <input type="hidden" name="failure_url" value="http://127.0.0.1:8000/esewa/failure/">
    <input type="hidden" name="signed_field_names" value="total_amount,transaction_uuid,product_code">
    <input type="hidden" name="signature" value="{{ signature }}">
</form>
<script type="text/javascript">
    // Automatically submit the form when the page loads
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("esewaForm").submit();
    });
</script>


{% endblock %}