{% extends 'dashboard_layout.html' %}

{% load crispy_forms_tags %}


{% block content %}

    <h1 class="text-3xl font-bold mb-8">Update Product</h1>

    <form method="POST" enctype="multipart/form-data" class = max-w-2xl ml-10 p-4 bg-white rounded-lg shadow-md>
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error!</strong> Please correct the errors below.
            </div>
        {% endif %}
        {% csrf_token %}
<!-- {{ form.as_p }} -->
        {{ form|crispy }}
        <button type="submit" class=" bg-slate-800 hover:bg-slate-800/90 rounded-md text-white w-full py-2 px-1">Update</button>
    </form>

{% endblock %}